<footer class="rs-footer hidden-print">
    <div class="footer rs-maxwidth">
        <section class="rs-content--primary rs-content--footer">
            <div class="rs-footer-promotion">
                <h4 class="rs-footer-promotion__headline">
                    <a href="https://app.adjust.com/swnbsd_o2a07o?campaign=2017Q2&amp;adgroup=FooterReweDE&amp;deep_link=rewe%3A%2F%2Fshop&amp;fallback=https%3A%2F%2Fwww.rewe.de%2Fservice%2Ftestsieger%2F"
                       target="_blank" rel="nofollow" data-linktype="exit" class=" rs-footer-promotion__link"
                       title="Überall einkaufen mit der REWE App">
                        <img class="img" src="/img/footer/app-kampagne_q3_footer_banner_1480.jpg" alt="REWE App">
                    </a>
                </h4>
            </div>

            <h4 class="rs-footer-csbanner"
                title="2.125-RC-4890a-branches/deploy-2-125.5caq0v/workspace/rf-webapp----2018-01-25 11:48:47">
                Sie haben Fragen zum REWE Onlineshop oder Ihrem REWE Markt? Klicken Sie bitte <a
                    href="https://www.rewe.de/service/fragen-und-antworten/"
                    style="margin: 0px; padding: 0px; border: none; box-sizing: border-box; color: rgb(29, 151, 226); text-decoration:underline;">hier</a>.
            </h4>

            <ul class="rs-footer-sitemap">
                <li class="rs-footer-sitemap__col rs-js-footer-togglebox">
                    <h3 class="rs-footer-sitemap__categoryheadline">Mehr über REWE
                        <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>
                    </h3>
                    <ul>
                        <li class="rs-footer-sitemap__listelement ">
                            <style type="text/css">
                                .col-one-third:nth-child(2) .rewe-90-year.rs-logo--link {
                                    text-indent: 0;
                                    background-image: none !important;
                                }

                                .col-one-third:nth-child(2) .rewe-90-year.rs-logo--link .rewe-90-year-logo {
                                    width: 75px;
                                }

                                @media (min-width: 768px) {
                                    .col-one-third:nth-child(2) .rewe-90-year.rs-logo--link .rewe-90-year-logo {
                                        padding: 5px 0;
                                        width: auto;
                                    }
                                }

                                .rewe-90-year.rs-logo {
                                    padding: 7px 10px;
                                }

                                .rewe-90-year.rs-logo .rewe-90-year-logo {
                                    width: 140px;
                                }
                            </style>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://nachhaltig.rewe.de/" target="_self" data-linktype="exit"
                               class=" rs-footer-sitemap__link" title="REWE engagiert sich für die Nachhaltigkeit"
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                REWE Nachhaltigkeit
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://karriere.rewe.de/" target="_self" data-linktype="exit"
                               class=" rs-footer-sitemap__link" title="Alles zu Ihrer Karriere bei REWE" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                REWE Karriere
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://karriere.rewe.de/ausbildung.html" target="_blank" data-linktype="exit"
                               class=" rs-footer-sitemap__link" title="Starten Sie Ihre Ausbildung bei REWE" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                REWE Ausbildung
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://karriere.rewe.de/lieferservice.html s" target="_blank" data-linktype="exit"
                               class=" rs-footer-sitemap__link" title="Bewerben Sie sich beim REWE Lieferservice"
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Karriere beim Lieferservice
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://karriere.rewe.de/selbstaendig.html" target="_self" data-linktype="exit"
                               class=" rs-footer-sitemap__link" title="Das REWE Partnerschaftsmodell" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Selbständig sein mit REWE
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://immobilien.rewe.de/expansion/" target="_self" data-linktype="exit"
                               class=" rs-footer-sitemap__link" title="Flexible Lösungen für jeden Standort" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                REWE Immobilien
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://www.docmorris.de/rewe?from=2K144" target="_blank" rel="nofollow"
                               data-linktype="exit" class=" rs-footer-sitemap__link"
                               title="Medikamente allein sind nicht genug." style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                DocMorris
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://presse.rewe.de/" target="_blank" data-linktype="exit"
                               class=" rs-footer-sitemap__link" title="REWE Pressebereich" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Presseportal
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="rs-footer-sitemap__col rs-js-footer-togglebox">
                    <h3 class="rs-footer-sitemap__categoryheadline">Hilfe

                        <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>

                    </h3>
                    <ul>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/service/fragen-und-antworten/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link"
                               title="Häufig gestellte Fragen und Antworten in den FAQs" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Fragen und Antworten
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/service/online-einkaufen/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="So funktioniert der Online Einkauf bei REWE"
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Online einkaufen
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/service/kontakt/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Wir stehen Ihnen auch persönlich zur Verfügung"
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Kontakt
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/lexikon/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Wissenswertes rund um Lebensmittel" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Lebensmittel-Lexikon
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/service/inhaltsverzeichnis-rezepte/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Alle Rezepte von REWE" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Rezepte Verzeichnis
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="rs-footer-sitemap__col rs-js-footer-togglebox">
                    <h3 class="rs-footer-sitemap__categoryheadline">Lieferservice

                        <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>

                    </h3>
                    <ul>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://shop.rewe.de/" target="_self" data-linktype="exit"
                               class=" rs-footer-sitemap__link"
                               title="Bestellen Sie Lebensmittel online beim REWE Lieferservice" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Lebensmittel Online
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/service/testsieger/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Der REWE Lieferservice ist Testsieger" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Testsieger
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://www.rewe.de/freundewerben?uid=0cc57c97154f0642d108cb1762f8a6b2&amp;utm_source=site&amp;utm_medium=onlineeinkaufen&amp;utm_campaign=rewe_de"
                               target="_self" data-linktype="exit" class=" rs-footer-sitemap__link"
                               title="Empfehlen Sie den REWE Lieferservice und sichern sich 10€" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Freunde werben
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://www.rewe.de/kennenlernen?icid=int_rewedefooter_lieferkennenlernen2017_nn_nn_nn_nn_nn_nn"
                               target="_self" data-linktype="exit" class=" rs-footer-sitemap__link"
                               title="Kennenlernen REWE Lieferservice" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Kennenlernen
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://www.rewe.de/service/geschaeftskunden?icid=int_nn_nn_nn_nn_website_geschaeftskunden_nn_Startseite"
                               target="_self" data-linktype="exit" class=" rs-footer-sitemap__link"
                               title="Für Geschäftskunden" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Für Geschäftskunden
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="rs-footer-sitemap__col rs-js-footer-togglebox">
                    <h3 class="rs-footer-sitemap__categoryheadline">Services

                        <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>

                    </h3>
                    <ul>

                        <li class="rs-footer-sitemap__listelement ">


                            <span>Newsletter abonnieren</span>
                            <a href="/service/newsletter/" target="_self" data-linktype="navigation"
                               class=" rs-btn rs-btn--red rs-btn--medium rs-btn--extended"
                               title="Angebote, Aktionen, Rezepte - mit dem REWE Newsletter verpassen sie nichts mehr!">
                                Hier anmelden
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/angebote/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link"
                               title="Alle aktuellen REWE Supermarkt Angebote der Woche" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Supermarkt Angebote
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://marktsuche.rewe.de/" target="_self" data-linktype="exit"
                               class=" rs-footer-sitemap__link"
                               title="Informieren Sie sich über Öffnungszeiten von Ihrem Supermarkt in der Nähe"
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Öffnungszeiten
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/service/app/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Laden Sie sich die REWE Supermarkt App herunter"
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                REWE App
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/payback/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link"
                               title="Sichern Sie sich jetzt alle Vorteile von PAYBACK auch bei REWE">
                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>
                                PAYBACK


                                <span class="rs-icon-payback"></span>


                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/aktionen/gewinnspiele/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Alle aktuellen Gewinnspiele auf einen Blick "
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Gewinnspiele
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/aktionen/gutscheine/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link"
                               title="Aktuelle Gutscheine für Ihren REWE Markt oder den REWE Lieferservice" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Gutscheine
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/aktionen/treuepunkte/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Treuepunkte sammeln und Prämien mitnehmen!"
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Treuepunkte
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="https://presse.rewe.de/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Pressemeldungen der REWE" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Presse
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/rezepte/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Entdecken Sie leckere Rezepte zu jedem Anlass"
                               style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Rezepte
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <a href="/rezepte/was-koche-ich-heute/" target="_self" data-linktype="navigation"
                               class=" rs-footer-sitemap__link" title="Rezeptvorschläge für Sie!" style=" ">


                                <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                Was koche ich heute?
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="rs-footer-sitemap__col rs-js-footer-togglebox">
                    <h3 class="rs-footer-sitemap__categoryheadline">Partnerangebote

                        <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>

                    </h3>
                    <ul>

                        <li class="rs-footer-sitemap__listelement ">


                            <form action="/restservices/prg" method="post" target="_blank">
                                <button class="btn-ghost prg-link rs-footer-sitemap__link" type="submit" name="hash"
                                        value="aHR0cHM6Ly93d3cucmV3ZS1yZWlzZW4uZGUvaG9tZS5odG1sP2VjaWQ9b29oX3Jld2VfbmF0LWxp
bmtfcmV3ZS1kZV9yZXdlLWxoX2Zvb3Rlcl9hbGxfbm5fbm4tbm4tbm5fbm4=">


                                    <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                    REWE Reisen
                                </button>
                            </form>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <form action="/restservices/prg" method="post" target="_blank">
                                <button class="btn-ghost prg-link rs-footer-sitemap__link" type="submit" name="hash"
                                        value="aHR0cDovL3d3dy56b29yb3lhbC5kZS8=">


                                    <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                    ZooRoyal
                                </button>
                            </form>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <form action="/restservices/prg" method="post" target="_blank">
                                <button class="btn-ghost prg-link rs-footer-sitemap__link" type="submit" name="hash"
                                        value="aHR0cHM6Ly93d3cud2VpbmZyZXVuZGUuZGUv">


                                    <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                    Weinfreunde
                                </button>
                            </form>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <form action="/restservices/prg" method="post" target="_blank">
                                <button class="btn-ghost prg-link rs-footer-sitemap__link" type="submit" name="hash"
                                        value="aHR0cHM6Ly93d3cua29lbG5lci13ZWlua2VsbGVyLmRlLw==">


                                    <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                    Kölner Weinkeller
                                </button>
                            </form>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <form action="/restservices/prg" method="post" target="_blank">
                                <button class="btn-ghost prg-link rs-footer-sitemap__link" type="submit" name="hash"
                                        value="aHR0cHM6Ly90b2dvLnJld2UuZGU=">


                                    <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                    REWE To Go
                                </button>
                            </form>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <form action="/restservices/prg" method="post" target="_blank">
                                <button class="btn-ghost prg-link rs-footer-sitemap__link" type="submit" name="hash"
                                        value="aHR0cHM6Ly9ibHVtZW4ucmV3ZS5kZQ==">


                                    <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                    REWE Blumen
                                </button>
                            </form>
                        </li>

                        <li class="rs-footer-sitemap__listelement ">


                            <form action="/restservices/prg" method="post" target="_blank">
                                <button class="btn-ghost prg-link rs-footer-sitemap__link" type="submit" name="hash"
                                        value="aHR0cHM6Ly9mb3RvLnJld2UuZGUv">


                                    <span class="rs-glyphiconext rs-glyphiconext-triangle"></span>


                                    REWE Foto
                                </button>
                            </form>
                        </li>

                    </ul>
                </li>


                <li class="rs-footer-sitemap__col ">
                    <h3 class="rs-footer-sitemap__categoryheadline">Social Media

                    </h3>
                    <ul>

                        <li class="rs-footer-sitemap__listelement  rs-footer-sitemap__listelement--social">


                            <a href="https://www.facebook.com/Rewe/" target="_blank" data-linktype="exit"
                               class=" rs-footer-sitemap__link rs-footer-sitemap__link--social"
                               title="Folgen Sie REWE auf Facebook"
                               style="background-image: url('https://www.rewe.de/dam/jcr:b9cd304f-7b7a-4fd8-894b-4edc2717496e/facebook_icon.svg'); ">


                                Facebook
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement  rs-footer-sitemap__listelement--social">


                            <a href="https://twitter.com/REWE_Supermarkt" target="_blank" data-linktype="exit"
                               class=" rs-footer-sitemap__link rs-footer-sitemap__link--social"
                               title="Folgen Sie REWE bei Twitter"
                               style="background-image: url('https://www.rewe.de/dam/jcr:9f86680a-58e8-419c-97f1-bd8d48942d21/twitter_icon.svg'); ">


                                Twitter
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement  rs-footer-sitemap__listelement--social">


                            <a href="https://www.youtube.com/user/REWEDeutschland" target="_blank" data-linktype="exit"
                               class=" rs-footer-sitemap__link rs-footer-sitemap__link--social"
                               title="Der offizielle Youtube-Kanal von REWE"
                               style="background-image: url('https://www.rewe.de/dam/jcr:68daf2d5-d04a-4de4-bb16-0a8b193e5b33/youtube_icon.svg'); ">


                                Youtube
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement  rs-footer-sitemap__listelement--social">


                            <a href="https://www.instagram.com/rewe/" target="_blank" data-linktype="exit"
                               class=" rs-footer-sitemap__link rs-footer-sitemap__link--social"
                               title="Folgen Sie REWE bei Instagram"
                               style="background-image: url('https://www.rewe.de/dam/jcr:e171b47f-6832-4927-ba6e-0aa02d5e5013/instagram_icon.svg'); ">


                                Instagram
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement  rs-footer-sitemap__listelement--social">


                            <a href="https://plus.google.com/+REWE_DE/posts" target="_blank" rel="nofollow"
                               data-linktype="exit" class=" rs-footer-sitemap__link rs-footer-sitemap__link--social"
                               title="Folgen Sie REWE auf Google+"
                               style="background-image: url('https://www.rewe.de/dam/jcr:f057acbf-20c5-4515-b8b5-b046abb94cff/googleplus_icon.svg'); ">


                                Google+
                            </a>
                        </li>

                        <li class="rs-footer-sitemap__listelement  rs-footer-sitemap__listelement--social">


                            <a href="https://de.pinterest.com/rewe/" target="_blank" data-linktype="exit"
                               class=" rs-footer-sitemap__link rs-footer-sitemap__link--social"
                               title="Folgen Sie REWE auf Pinterest"
                               style="background-image: url('https://www.rewe.de/dam/jcr:7ec540a6-3df7-4c96-959d-fb183bb53e77/pinterest_icon.svg'); ">


                                Pinterest
                            </a>
                        </li>

                    </ul>
                </li>


            </ul>

            <div class="rs-footer-payments">
                <h3 class="rs-footer__categoryheadline">Zahlungsarten</h3>
                <ul class="rs-payments">

                    <li class="rs-payments__icon rs-payments__icon--mastercard" title=""></li>

                    <li class="rs-payments__icon rs-payments__icon--visa" title=""></li>

                    <li class="rs-payments__icon rs-payments__icon--paypal" title=""></li>

                    <li class="rs-payments__icon rs-payments__icon--invoice" title=""></li>


                </ul>
            </div>

            <div class="rs-footer-seals">
                <h3 class="rs-footer__categoryheadline">Siegel und Auszeichnungen</h3>
                <ul class="rs-seals">

                    <li class="rs-seals__listelement">
                        <a href="https://ehi-siegel.de/verbraucher/shops-mit-siegel/zertifizierte-shops/zertifikat/4fd988d898261b0f3a2c6f014b223b17/"
                           target="_blank" rel="nofollow" data-linktype="exit" class=""
                           title="EHI geprüfter Online-Shop">
                            <img src="/dam/jcr:f6364c81-cda7-480f-a68a-24f009a9f2d6/ehi-logo-klein_v4.png"
                                 alt="EHI Logo" class="rs-seals__image">
                        </a>
                    </li>

                    <li class="rs-seals__listelement">

                        <img src="/dam/jcr:7ac46c75-9a57-4ffb-8e03-5c0a8132fa1f/LieferserviceTestsieger_REWE_klein.png"
                             alt="CHIP Testsieger 06/2016" class="rs-seals__image">

                    </li>

                    <li class="rs-seals__listelement">

                        <img src="/dam/jcr:7fcae4aa-48ad-46f7-94a0-81dce24879b5/WA-DE-Superm%C3%A4rkte-2015-2016-S-klein.png"
                             alt="Webshop Award Germany 2015-2016" class="rs-seals__image">

                    </li>

                    <li class="rs-seals__listelement">

                        <img src="/dam/jcr:b70ccc32-779b-4970-baa0-b6e41d03acee/HDJ_Footer_85x120.png"
                             alt="Webshop Award Germany 2016-2017" class="rs-seals__image">

                    </li>

                    <li class="rs-seals__listelement">

                        <img src="/dam/jcr:2cf0d1e8-fdfc-458f-bf61-7e41fa978eb9/Berlins-Liebling-2016-Logo-klein.png"
                             alt="Berlins Liebling 2016" class="rs-seals__image">

                    </li>

                    <li class="rs-seals__listelement">

                        <img src="/dam/jcr:0ad5e5f2-a1c6-4057-abba-492d0b04a500/Berlins-Liebling-2017-Logo-klein.png"
                             alt="Berlins Liebling 2017" class="rs-seals__image">

                    </li>


                </ul>
            </div>


            <p class="rs-footer-legal">
                Alle Preise in Euro (€) inkl. gesetzlicher Mehrwertsteuer, zuzüglich Versandkosten, Pfand und optionaler
                Servicegebühren<br>* Die dargestellten Angebote sind unter Umständen nicht in allen Märkten verfügbar.
                In Einzelfällen können die Preise zudem von den online bestellbaren Angeboten unter https://shop.rewe.de
                abweichen.
            </p>

            <nav class="rs-footer-metanav">
                <ul class="rs-footer-metanav__list">


                    <li class="rs-footer-metanav__listelement">


                        <a href="/partnerprogramm/" target="_self" data-linktype="navigation"
                           class=" rs-footer-metanav__link" title="Werden Sie Affiliate Partner des REWE Lieferservice"
                           style=" ">


                            Affiliate Programm
                        </a>
                    </li>

                    <li class="rs-footer-metanav__listelement">


                        <a href="/service/teilnahmebedingungen/" target="_self" data-linktype="navigation"
                           class=" rs-footer-metanav__link" title="Alle Teilnahmebedingungen zu REWE Gewinnspielen"
                           style=" ">


                            Teilnahmebedingungen
                        </a>
                    </li>

                    <li class="rs-footer-metanav__listelement">


                        <a href="/service/agb/" target="_self" data-linktype="navigation"
                           class=" rs-footer-metanav__link" title="Allgemeine Geschäftsbedingungen" style=" ">


                            AGB
                        </a>
                    </li>

                    <li class="rs-footer-metanav__listelement">


                        <a href="/service/impressum/" target="_self" data-linktype="navigation"
                           class=" rs-footer-metanav__link" title="Impressum" style=" ">


                            Impressum
                        </a>
                    </li>

                    <li class="rs-footer-metanav__listelement">


                        <a href="/service/datenschutz/" target="_self" data-linktype="navigation"
                           class=" rs-footer-metanav__link" title="Datenschutz" style=" ">


                            Datenschutz
                        </a>
                    </li>

                    <li class="rs-footer-metanav__listelement">


                        <a href="/service/nutzungsrichtlinien/" target="_self" data-linktype="navigation"
                           class=" rs-footer-metanav__link" title="Nutzungsrichtlinien" style=" ">


                            Nutzungsrichtlinien
                        </a>
                    </li>


                </ul>
            </nav>

            <p class="rs-footer-legal" title="">
                &nbsp;&nbsp;&nbsp;

            </p>

        </section>
    </div>
</footer>

<!--<footer class="bg-black ph3 pv4 white">-->

<!--<div class="mw7 center pt3">-->

<!--<div class="measure-narrow center mb4">-->

<!--<img src="/img/logo.svg" alt="Kaldi logo" class="db w4 center mb4 br0">-->
<!--<p class="f3 lh-title light-gray b tc mb2">Newsletter subscribe</p>-->
<!--<p class="mt0">Get awesome news from us in your inbox every two weeks. Be the first to learn about new products.</p>-->

<!--{{ partial "newsletter-form" . }}-->

<!--</div>-->

<!--<div class="flex-ns justify-between">-->

<!--<div>-->
<!--<h3 class="f4 b lh-title mt0 mb1 primary">Kaldi</h3>-->
<!--<ul class="list mt0 mb3 pl0">-->
<!--<li><a href="/" class="link">Home</a></li>-->
<!--<li><a href="/products" class="link">Our products</a></li>-->
<!--<li><a href="/values" class="link">About</a></li>-->
<!--<li><a href="/post" class="link">Blog</a></li>-->
<!--<li><a href="/contact" class="link">Contact</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--<div>-->
<!--<h3 class="f4 b lh-title mt0 mb1 primary">Find out more</h3>-->
<!--<ul class="list mt0 mb3 pl0">-->
<!--<li><a href="/post/jamaica-blue/" class="link">Latest offers</a></li>-->
<!--<li><a href="/contact" class="link">Schedule and appointment</a></li>-->
<!--</ul>-->
<!--</div>-->

<!--<div>-->
<!--<h3 class="f4 b lh-title mt0 mb2 primary">Social media</h3>-->
<!--<ul class="mhn2 mv0 pl0">-->
<!--{{ partial "social-icon" (dict "link" "#" "svg" "facebook") }}-->
<!--{{ partial "social-icon" (dict "link" "#" "svg" "twitter") }}-->
<!--{{ partial "social-icon" (dict "link" "#" "svg" "instagram") }}-->
<!--{{ partial "social-icon" (dict "link" "#" "svg" "vimeo") }}-->
<!--</ul>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->

<!--</footer>-->

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
