<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="{{ .Site.BaseURL }}/" class="pa3 db mr4 h-100 w3 flex-none">
		<img src="{{ .Site.BaseURL }}/img/logo.svg" alt="Kaldi logo" class="br0 db mb0 w-100"/>
	</a>

	<!-- Primary Nav -->
	<ul class="list pl0 flex mv0 b">
		<li><a href="{{ .Site.BaseURL }}/products" class="pa3 grey-3 no-underline db">Products</a></li>
		<li><a href="{{ .Site.BaseURL }}/ernaehrung" class="pa3 grey-3 no-underline db">Ernährung</a></li>
		<li><a href="{{ .Site.BaseURL }}/values" class="pa3 grey-3 no-underline db">Values</a></li>
		<li><a href="{{ .Site.BaseURL }}/post" class="pa3 grey-3 no-underline db">Blog</a></li>
		<li><a href="{{ .Site.BaseURL }}/recipe" class="pa3 grey-3 no-underline db">Rezepte</a></li>
		<li><a href="{{ .Site.BaseURL }}/contact" class="pa3 grey-3 no-underline db">Contact</a></li>
	</ul>
</nav>
